<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SauceDemo Suite">
    <test name="Regression Tests">
        <classes>
            <class name="LoginTests"/>
            <class name="InventoryTests"/>
            <class name="ItemPageTests"/>
            <class name="FilterTests"/>
            <class name="LogoutTests"/>
            <class name="UserInformationTests"/>
        </classes>
    </test>
</suite>